extends index.pug

block styles 
  style 
    include styles/login.css

block content
  h2= 'login'
  form(action='/login' method='post')
    div
      label='username'
      input(type='text' name='username' required)
    div
      label='password'
      input(type='password' name='password' required)
    div 
      input(type='submit' value='Submit')
  form(action='/registration' method='get')
    input(type='submit' value='Registration')