extends index.pug

block styles 
  style 
    include styles/login.css

block content
  div.login
    h2= 'Вход в систему'
    form(action='/login' method='post')
      div.field
        label='Введите логин'
        input(type='text' name='username' required)
      div.field
        label='Введите пароль'
        input(type='password' name='password' required)
      div.button 
        input(type='submit' value='Войти')
    form(action='/registration' method='get')
      div.button
        input(type='submit' value='Регистрация')