extends index.pug

block styles 
  style 
    include styles/registration.css

block content
  div.registration
    h2= 'Регистрация'
    form(action='/registration' method='post')
      div.field
        label='Введите логин'
        input(type='text' name='username' required)
      div.field
        label='Введите пароль'
        input(type='password' name='password' required)
      div.field
        label='Введите токен'
        input(type='text' name='token' required)
      div.button
        input(type='submit' value='Зарегистрироваться')