extends index.pug

block styles 
  style 
    include styles/registration.css

block content
  h2= 'register'
  form(action='/registration' method='post')
    div
      label='username'
      input(type='text' name='username' required)
    div
      label='password'
      input(type='password' name='password' required)
    div
      label='token'
      input(type='text' name='token' required)
    div 
      input(type='submit')